body {
    background-color: #fca6c9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

h1 {
         font-size: 3em;   
}

h1:hover {
    color: black;
}

ol {
    display: block;
    margin: 15px auto;
    color: black;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 2em;
    }

img {
    margin: 15px auto;
}

.atone-quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

footer {
    color: black;
    text-align: center;
}

